
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 1024px;
    position: relative;
    background-color: #D6D3D3;
}

.container2{
    width: 75%;
    height: 705px;
    left: 190px;
    top: 159px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.choose{
    width: 50%;
    height: 76px;
    left: 146px;
    top: 472px;
    position: absolute;
}

.choose_wrapper{
    width: 50%;
    height: 35px;
    left: 0px;
    top: 41px;
    position: absolute;
}

.choose_wrapper2{
    width: 765px;
    height: 35px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: #898989;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    border: 1px #F5F5F5 solid;
}

.border{
    width: 21px;
    height: 0px;
    left: 191px;
    top: 7px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px #F5F5F5 solid;
}

.border2{
    width: 21px;
    height: 0px;
    left: 382px;
    top: 7px;
    position: absolute;
    transform: rotate(90deg); 
    transform-origin: 0 0;
    border: 1px #F5F5F5 solid;
}

.border3{
    width: 21px;
    height: 0px;
    left: 573px;
    top: 7px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px #F5F5F5 solid;
}

.scroll{
    width: 178px;
    height: 25px;
    left: 7px;
    top: 46px;
    position: absolute;
    background: #D6D3D3;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px white solid;
}

.scroll1{
    transform: translateX(190px);
    transition: all 2s ease-in-out;
}

.scroll2{
    transform: translateX(380px);
    transition: all 2s ease-in-out;
}

.scroll3{
    transform: translateX(570px);
    transition: all 2s ease-in-out;
}

.ul_scroll{
    list-style-type: none;
    width: 50%;
    height: 25px;
    left: 16px;
    top: 0px;
    position: absolute;
}

.color2{
    color: #535353;
}

/* .answer_active{
    /* width: 155px;
    height: 25px;
    left: 10px;
    top: 0px;
    position: absolute;
    text-align: center; */
    /* color: #535353; */
    /* font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word; */
/* }  */

.color1{
    color: #D6D3D3;
}

.answer1{
    width: 155px;
    height: 25px;
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    /* color: #535353; */
    
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.answer2{
    width: 155px;
    height: 25px;
    left: 181px;
    top: 0px;
    position: absolute;
    text-align: center;
    /* color: #D6D3D3; */
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.answer3{
    width: 155px;
    height: 25px;
    left: 373px;
    top: 0px;
    position: absolute;
    text-align: center;
    /* color: #D6D3D3; */
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.answer4{
    width: 155px;
    height: 25px;
    left: 573px;
    top: 0px;
    position: absolute;
    text-align: center;
    /* color: #D6D3D3; */
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

.question{
    width: 765px;
    height: 59px;
    left: 146px;
    top: 298px;
    position: absolute;
    text-align: center;
    color: #535353;
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
}

h3{
    width: 764px;
    height: 43px;
    left: 146px;
    top: 209px;
    position: absolute;
    text-align: center;
    color: #535353;
    font-size: 24px;
    font-family: Roboto Flex;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
}

.counter{
    width: 126px;
    height: 39px;
    left: 784px;
    top: 95px;
    position: absolute;
}

.counter_p{
    left: 0px;
    top: 0px;
    position: absolute;
    color: #535353;
    font-size: 33px;
    font-family: Roboto Flex;
    font-weight: 700;
    word-wrap: break-word;
}

.counter_p2{
    left: 0px;
    top: 0px;
    position: relative;
    color: #535353;
    font-size: 33px;
    font-family: Roboto Flex;
    font-weight: 700;
    word-wrap: break-word;
}

form{
    width: 29px;
    height: 29px;
    left: 97px;
    top: 4px;
    position: absolute;
}

/* .form{
    width: 29px;
    height: 29px;
    left: 107px;
    top: 4px;
    position: absolute;
} */

.btn{
    width: 29px;
    height: 29px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 9999px;
    border: none;
}

.btn2{
    width: 29px;
    height: 29px;
    left: 90px;
    top: 5px;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 9999px;
    border: none;
}

.btn3{
    width: 29px;
    height: 29px;
    left: 110px;
    top: 5px;
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 9999px;
    border: none;
}

.next{
    width: 15px;
    height: 0px;
    left: 5px;
    top: 5px;
    position: absolute;
    text-align: center;
}



.next2{
    width: 15px;
    height: 0px;
    left: 95px;
    top: 10px;
    position: absolute;
    text-align: center;
}

.next3{
    width: 15px;
    height: 0px;
    left: 115px;
    top: 10px;
    position: absolute;
    text-align: center;
}



.modal1{
    width: 30%;
    height: 555px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    /* display: none; */
}

.rezult1{
    width: 287px;
    left: 69px;
    top: 408px;
    position: absolute;
    text-align: center;
    color: #8ACC36;
    font-size: 33px;
    font-family: Roboto Flex;
    font-weight: 700;
    line-height: 47px;
    word-wrap: break-word;
}

.delete1{
    width: 26px;
    height: 26px;
    left: 430px;
    top: 41.38px;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.delete2{
    left: 20px;
    bottom: 10px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    color: #D9D9D9;
    font-size: 46px;
}

.modal2_delete1{
    width: 26px;
    height: 26px;
    left: 430px;
    top: 41.38px;
    position: relative;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}


.modal2_delete2{
    left: 20px;
    bottom: 10px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    color: #D9D9D9;
    font-size: 46px;
}


.green{
    width: 287px;
    height: 287px;
    left: 69px;
    top: 62px;
    position: relative;
}

.modal2{
    width: 30%;
    height: 555px;
    position:absolute;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    /* display: none; */
    
}

.rezult2{
    width: 287px;
    left: 69px;
    top: 408px;
    position: absolute;
    text-align: center;
    color: #EFC029;
    font-size: 33px;
    font-family: Roboto Flex;
    font-weight: 700;
    line-height: 47px;
    word-wrap: break-word;
}

.yellow{
    width: 288px;
    height: 287px;
    left: 80px;
    top: 50px;
    position: absolute;
}

.modal3{
    width: 30%;
    height: 555px;
    margin-top: 240px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
    /* display: none; */
}

.rezult3{
    width: 287px;
    left: 69px;
    top: 408px;
    position: relative;
    text-align: center;
    color: #D62B2B;
    font-size: 33px;
    font-family: Roboto Flex;
    font-weight: 700;
    line-height: 47px;
    word-wrap: break-word;
}

.red{
    width: 287px;
    height: 287px;
    left: 80px;
    top: 50px;
    position: absolute;
}

.flex_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper{
    list-style: none;
    
}

.display{
    display: none;
}